:root{
    --main-bd-clr: #1A0B2E;
    --2nd-bg-clr: #230E3D;
    --card-clr: rgba(53, 17, 101, 0.4);
    --normal-font-size: 1rem;
    --card-header-font: 1.5rem;
    --white: #FFFFFF;
    --max-w: 1600px;
    --btn-gradient: linear-gradient(
        45deg,
        #F7E93F,
        #FB09B4,
        #9100F8);
    --btn-gradient-hover: linear-gradient(
        -45deg,
        #F7E93F,
        #FB09B4,
        #9100F8);
    --greenish-clr: #00FF88;
    --blackish-clr: #1A0B2E;
    --btn-p: 12.5px 16px;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 900;
    --h1: 3.75rem;
    --s-h1: 3rem;
    --btn-radius: 44px;
}

*{
    margin: 0 auto;
    padding: 0;
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    max-width: var(--max-w);
    color: var(--white);
}
.navbar{
    height: 92px;
    max-width: 1600px;
    background-color: var(--main-bd-clr);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wave-text{
    background-image: linear-gradient(
        15deg,
        #F7E93F,
        #FB09B4,
        #9100F8);
    --webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.navbar ul{
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: var(--normal-font-size);
}

.nav-btn,
.btn-1{
    background-image: var(--btn-gradient);
    padding: var(--btn-p);
    font-weight: var(--semi-bold);
    border-radius: var(--btn-radius);
    border: none;
}

.nav-btn:hover{
    transform: scale(1.15);
    background-image: var(--btn-gradient-hover);
    border: 2px solid var(--white);
}

.subscribe-text,
.spotify-icon{
    margin-right: 4px;
}

.hero-section-div{
    max-width: var(--max-w);
    height: 760px;
    background-image:
        url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-btn{
    background-color: var(--greenish-clr);
    padding: 8px 16px;
    border-radius: 18px;
    z-index: 1;
    position: relative;
    margin-left: 877px;
    margin-top: -455px;
}

.new-btn h4{
    color: var(--blackish-clr);
    font-size: 1.125rem;
}

.hero-div{
    max-width: 550px;
    height: 558px;
    text-align: center;
    position: absolute;
}

.bg-hero{
    position: relative;
}

.microphone-img{
    position: absolute;
    top: 77.33px;
    left: 216.67px;
}

.text-section{
    margin-top: 40px;
}

.text-section h1{
    font-size: var(--h1);
}

.text-section p{
    margin: 24px auto;
}

.btn-2{
    border: 1px solid var(--greenish-clr);
    padding: var(--btn-p);
    background-color: transparent;
    border-radius: var(--btn-radius);
}

.btn-2 i, .btn-2 span{ 
    color: var(--greenish-clr);
}

.about{
    height: 646px;
    background-color: var(--blackish-clr);
    text-align: center;
}

.about-text-div h1{
    font-size: var(--s-h1);
    font-weight: var(--bold);
}

.about-text-div p{
    margin: 16px 0;
}

.join-part{
    margin-top: 60px;
}

hr{
    width: 1200px;
    margin: 80px auto;
}

.about-number-section{
    height: 94px;
    margin: 0 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-number-section h1{
    color: var(--greenish-clr);
    font-size: var(--s-h1);
}

.why-techwave{
    height: 1021px;
    background-color: var(--2nd-bg-clr);
    padding-top: 120px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 0px;
}

.why-techwave h1{
    text-align: center;
    font-size: var(--s-h1);
    margin-bottom: 40px;
}

.card-holder{
    height: 783px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.cards{
    background-color: var(--card-clr);
    border-radius: 20px;
    align-content: center;
    padding: 0 40px;
}

.cards h3{
    margin: 16px auto;
    font-size: var(--card-header-font);
    font-weight: calc(--bold);
}

.headphone-span{
    grid-column: span 1;
    grid-row: span 2;
}

.two-col-span{
    grid-column: span 2;
    grid-row: span 1;
    height: 225px;
    width: 90%;
}

#btm-grid{
    height: 273px;
}