@media screen and (max-width: 576px) {
    html, body{
        overflow-x: hidden;
    }

    body{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .nav-section .ul,
    .nav-btn{
        display: none;
    }

    .navbar .hamburger-menu{
        display: grid;
    }

    .hero-section-div{
        background-size: contain;
        background-position: center top;
        background-color: #1A0B2E;
    }

    .bg-hero .microphone-img{
        position: absolute;
        top: -47.2%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .new-btn{
        position: absolute;
        padding: 6px 12px;
        top: -15%;
        left: 70%;
        transform: translate(-50%);
    }

    .new-btn h4{
        font-size: .8rem;
    }

    .circle-img{
        margin-top: -100px;
        height: 180px;
        width: 180px;
    }

    .microphone-img{
        height: 70px;
        width: 46.67px;
    }

    .text-section{
        padding: 20px;
    }

    .text-section h1{
        font-size: 2.5rem;
    }

    .text-section p{
        font-size: 1rem;
        padding: 0 20px;
    }

    .btn-1, .btn-2{
        font-size: .9rem;
        padding: 10px 14px;
    }

    .about{
        margin-top: -200px;
        padding: 20px;
        height: auto;
    }

    .about-text-div h1{
        font-size: 2rem;
    }

    .about-text-div p{
        font-size: 1rem;
    }

    .p-tag-div{
        padding: 0 20px;
    }

    hr{
        width: 100%;
        max-width: 400px;
    }

    .about-number-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 20px;
        gap: 40px;
        height: auto;
    }

    .about-number-section h1{
        font-size: 2.5rem;
    }

    .about-number-section p{
        font-size: .8rem;
    }

    .why-techwave{
        margin: 0;
        padding: 20px;
        height: auto;
    }

    .why-header-div{
        width: 100%;
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
    }

    .why-header-div h1{
        font-size: 2rem;
    }

    .card-holder{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        max-width: 100%;
    }

    .cards{
        width: 100%;
        max-width: 336px;
        height: auto;
        margin: 0 auto;
        padding: 24px;
        grid-row: span 1;
        grid-column: span 1;
    }

    .card-holder h3{
        font-size: 1.375rem;
    }

    .card-holder p{
        font-size: .8rem;
    }

    #btm-grid{
        height: auto;
    }

    .featured-episodes{
        width: 100%;
        max-width: 440px;
        height: auto;
        padding: 40px 20px;
    }

    .featured-header{
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 0 auto 24px;
    }

    .featured-header h1,
    .host-header h1{
        font-size: 1.9rem;
    }

    .video-cards{
        height: 393px;
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
    }

    .video-container-div{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .video-text h3{
        font-size: 1.15rem;
    }

    .video-text p{
        font-size: 1rem;
    }

    .host-section{
        padding: 24px 40px;
    }

    .host-card h1{
        margin-top: 40px;
    }

    .host-card{
        flex-direction: column;
        padding: 10px;
        text-align: center;
        height: auto;
    }

    .host-text h2{
        font-size: 2rem;
    }

    .host-social-container{
        justify-content: center;
    }

    .host-social-container img{
        padding: 0;
        margin: 0;
    }

    .footer{
        width: 100%;
        max-width: 440px;
        height: auto;
        padding: 40px 20px;
        background-size: cover;
        background-position: center;
    }

    .footer-header-div h1{
        font-size: 2rem;
        margin-bottom: 24px;
    }

    .footer-socials-container{
        width: 100%;
        max-width: 255px;
        height: auto;
        padding: 0;
        margin: 0 auto;
        display: block;
    }

    .footer-socials{
        margin: 0;
    }

    .s-con-one{
        height: 24px;
        width: 100%;
        max-width: 255px;
        justify-content: space-between;
        align-items: center;
    }

    .s-con-two{
        height: 24px;
        width: 100%;
        max-width: 201px;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }

    .footer-socials img{
        height: 20px;
        margin-right: 6px;
    }

    .footer-socials p{
        font-size: .9rem;
        margin-right: 0;
    }

    .twitter{
        margin-right: 0;
    }

    .twitter img{
        height: 17px;
    }

    .youtube img{
        height: 16px;
    }

    .copyright-p p{
        font-size: .9rem;
        margin-top: 24px;
    }
}